@model project.Models.User
@{
    ViewBag.Title = "ViewProfile";
}

<!--start edit profile-->
<section class="profile">
    <div class="container">
        <h1>Profile</h1>
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <img src="~/images/profile.png" class="avatar img-circle" alt="avatar">
                    <input class="form-control name" type="text" value="@Model.Name" disabled>
                </div>
            </div>
            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Personal ID:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="@Model.Id" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Personal name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="@Model.Name" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="@Model.Email" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Phone:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="number" value="@Model.Phone" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Address:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" value="@Model.Address" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label"></label>
                        <div class="col-lg-8">
                            <a href="/Home/EditProfile/@Model.Id"><input type="button" class="btn btn-success" value="Edit"></a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <hr>
</section>
<!--end edit profile-->